image: ubuntu:22.04

stages:
  - test

before_script:
  - apt-get update
  - apt-get install -y build-essential cmake ninja-build

test:
  stage: test
  script:
    - cmake -S . -B build -G Ninja -DCMAKE_BUILD_TYPE=Debug
    - cmake --build build
    - cd build
    - ctest --output-on-failure --output-junit test-report.xml
  artifacts:
    when: always
    reports:
      junit: build/test-report.xml
    paths:
      - build/test-report.xml

# This file is a template, and might need editing before it works on your project.
# You can copy and paste this template into a new `.gitlab-ci.yml` file.
# You should not add this template to an existing `.gitlab-ci.yml` file by using the `include:` keyword.
#
# To contribute improvements to CI/CD templates, please follow the Development guide at:
# https://docs.gitlab.com/development/cicd/templates/
# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/C++.gitlab-ci.yml

# use the official gcc image, based on debian
# can use versions as well, like gcc:5.2
# see https://hub.docker.com/_/gcc/

image: gcc

build:
  stage: build
  # instead of calling g++ directly you can also use some build toolkit like make
  # install the necessary build tools when needed
  # before_script:
  #   - apt update && apt -y install make autoconf
  script:
    - g++ helloworld.cpp -o mybinary
  artifacts:
    paths:
      - mybinary
      # depending on your build setup it's most likely a good idea to cache outputs to reduce the build time
      # cache:
      #   paths:
      #     - "*.o"

# run tests using the binary built before
test:
  stage: test
  script:
    - ./runmytests.sh

deploy:
  stage: deploy
  script: echo "Define your deployment script!"
  environment: production
